body {
    background-color: #004988;
    display: grid;
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.cardSI{
    background-color: white;
    width: 600px;
    height: 425px;
    padding: 30px 50px 30px 50px;
    margin-top: 40px;
    border-radius: 10px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.lista{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
}

.butao{
    display: grid;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
    padding: 12px 24px 12px 24px;
    background-color: #004988;
    border-radius: 6px; 
}

a:hover{
    color: #004988;
    background-color: #00EBFF;
}

.destaque{
    color: #00EBFF;
}

/*h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    
}

ol {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-items: center;
    word-spacing: 10px;
    gap: 80px; 
}

.lista {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.amogus {
    display: flex;
    justify-content: center;
    padding: 30px;
}

img {
    display: flex;
    justify-content: center;
}

a {
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.destaque{
    color: yellow;
}*/


