body {
    background-color: black;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    
}

ol {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-items: center;
    word-spacing: 10px;
    gap: 80px; 
}

.lista {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.amogus {
    size: 10%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

img {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

a {
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.destaque{
    color: yellow;
}


